<!DOCTYPE html>
<html>
  <head>
    <title>ORDER COMPLETE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ORDER COMPLETE</h1>
    <p>ORDER ID: <%= orderId %></p>
    <button><a href='/'>HOME</a></button>
  </body>
</html>