<!DOCTYPE html>
<html>
    <head>
        <title>회원보기</title>
        <link rel='stylesheet' href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>회원 보기</h1>
        <h1>
            <button><a href="/">HOME</a></button>
        </h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>ADDRESS</th>
                    <th>NUMBER</th>
                </tr>
            </thead>
            <tbody>
                <% var user = data %>
                <% for(var i = 0 ; i < user.length ; i++ ) { %>
                    <tr>
                        <td><%= user[i].user_id%></td>
                        <td><%= user[i].user_name%></td>
                        <td><%= user[i].user_address%></td>
                        <td><%= user[i].user_number%></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </body>
</html>